.app-box {
  border-radius: 3px;
  background-color: #f5f5f5;
  padding: 15px 0px;
}

.app-text {
  padding: 10px;
  color: black;
  font-size: 14px;
  display: none;

  ol {
    margin: 1em 0 1em 20px;
  }
}

.app-text-visible {
  display: block;
}

.app-text-error {
  color: red;
}
